<br>
<h1>{{titulo}} cliente</h1>
<hr>
<div class="container row">



    <div class="col-md-8">
        <br>
        <form (ngSubmit)="guardar()" #forma="ngForm">

            <div class="form-group">
                <label>Nombre</label>
                <input [(ngModel)]="clientes.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre del cliente" required>
            </div>

            <div class="form-group">
                <label>Apellido</label>
                <input [(ngModel)]="clientes.apellido" name="apellido" type="text" class="form-control" placeholder="Apellido del cliente" required>
            </div>

            <div class="form-group">
                <label>Direccion</label>
                <input [(ngModel)]="clientes.direccion" name="direccion" type="text" class="form-control" placeholder="Direccion">
            </div>

            <div class="form-group">
                <label>Telefono</label>
                <input [(ngModel)]="clientes.telef" name="telef" type="text" class="form-control" placeholder="Telefono" required>
            </div>

            <br>

            <div class="form-group">
                <button [disabled]="!forma.valid" type="submit" class="margin btn btn-outline-secondary">
                  Guardar
                </button>
                <button class="margin btn btn-outline-primary " [routerLink]="['/clientes']">Regresar</button>
            </div>

        </form>
    </div>
</div>