<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

        <div class="navbar-nav">

            <a class="nav-item nav-link" [routerLink]="['/usuario']" routerLinkActive="active">Usuarios </a>
            <a class="nav-item nav-link" [routerLink]="['/clientes']" routerLinkActive="active">Clientes</a>
            <a class="nav-item nav-link" [routerLink]="['/suplidores']" routerLinkActive="active">Suplidores</a>
            <a class="nav-item nav-link" [routerLink]="['/productos']" routerLinkActive="active">Productos</a>
            <a class="nav-item nav-link" [routerLink]="['/ventas']" routerLinkActive="active">Ventas</a>
            <a class="nav-item nav-link" [routerLink]="['/reportes']" routerLinkActive="active">Reportes</a>

        </div>
    </div>
</nav>