<br>
<div class="row">
    <div class="col text-right">
        <button class="btn btn-danger">Eliminar usuario</button>
    </div>
    <br><br>
</div>
<div class="row">
    <div class="col">

        <table class="table">
            <thead class="thead-light">
                <tr>

                    <th scope="col">Usuario</th>
                    <th scope="col">Contrase;a</th>
                    <th scope="col">Tipo de usuario</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>