<!--<div class='col'>
    <div class="container uk-margin-top:50px">
        <h3>Iniciar sesion</h3>
    </div>
    <br>
    <form (ngSubmit)="guardar()" #forma="ngForm">
        <div class="form-group col-md-6">
            <label>Usuario</label>
            <input [(ngModel)]='user.usuario' name="usuario" type="text" class="form-control" placeholder="Usuario">
        </div>
        <div class="form-group col-md-6">
            <label>Clave</label>
            <input [(ngModel)]='user.clave' name="clave" type="text" class="form-control" placeholder="Clave">
        </div>
        <br>
        <div class="form-group ">
            <button type="submit" class="margin btn btn-outline-secondary">
                  Ingresar
                </button>
            <button class="margin btn btn-outline-primary" [routerLink]="['/newUser']">Crear usuario</button>
        </div>
    </form>
</div>-->

<div *ngIf="_service.user | async; then authenticated else guest">

</div>


<!-- User NOT logged in -->
<ng-template #guest>
    <h3>Howdy, GUEST</h3>
    <p>Login to get started...</p>

    <button (click)="_service.Login()">
    <i class="fa fa-google"></i> Connect Google
</button>

</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
    <div *ngIf="_service | async as user">
        <h3>Howdy, {{ user.displayName }}</h3>
        <button (click)="_service.signOut()">Logout</button>
    </div>
</ng-template>